<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.eweb.modular.rbac.dal.mapper.RbacRoleMapper">
    <select id="selectRoleView" resultType="java.util.Map">
        select   r.code,r.name,u.nickname ,u.username from sys_role r
        left join sys_user u on r.id=u.role_id
        where 1=1
    </select>
</mapper>
